.body-menu-active {
  overflow: hidden;
  .header {
    position: static;
    .block-logo {
      img {
        z-index: 1000;
        position: relative;
      }
    }
  }
  .hamburger-icon {
    display: none !important;
  }
  .hamburger-icon-close {
    display: block !important;
    cursor: pointer;
    z-index: 1000;
    position: relative;
  }
}
.header {
  height: 85px;
  width: 100%;
  background-color: $back-header;
  position: relative;
  @include desktop-block-1400 {
    height: 70px;
  }
  @include phone-1023 {
    height: 64px;
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url(../images/icon/custom-back-2.svg);
    width: 111px;
    height: 85px;
    right: 15px;
    top: 0;
    opacity: 0.15;
    @include desktop-block-1560 {
      content: none;
    }
  }


  .col-logo {
    height: 85px;
    display: flex;
    align-items: center;
    @include desktop-block-1400 {
      height: 70px;
    }
    @include phone-1023 {
      height: 64px;
    }

    .block-logo {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icon/custom-back-1.svg);
        width: 69px;
        height: 67px;
        left: -120px;
        @include desktop-block-1560 {
          content: none;
        }
      }
      img {
        height: 23px;
        width: auto;
      }
    }
  }

  .hamburger-icon {
    cursor: pointer;
  }
  .hamburger-icon-close {
    display: none;
  }
  .header-block-menu  {
    display: flex;
    align-items: center;
    @include phone-1023 {
      display: none;

    }

    li {
      padding-left: 60px;
      @include phone-1023 {
        margin-bottom: 15px;
        margin-top: 15px;
        padding-left: 0;
      }

      a {
        color: $color-white;
        font-size: 18px;
        line-height: 25px;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .active {
      a {
        font-weight: 600;
      }
    }
  }

  .header-block-menu-active {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    z-index: 111;

  }

}

.header-block-menu-activ-bg {
  background-color: rgba(11, 9, 73, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  z-index: 1;
}
.body-menu-active  .header-block-menu-activ-bg {

  display: block;
}