.content-index {

}

.index-header {
  position: relative;
  @include phone-1023 {
    margin-bottom: 20px;
  }

  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/icon/custom-back-3.svg);
    width: 124px;
    height: 175px;
    left: 0px;
    bottom: 0;
    @include desktop-block-1560 {
      content: none;
    }
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url(../images/icon/custom-back-4.svg);
    width: 149px;
    height: 25px;
    right: 0;
    top: 69px;
    @include desktop-block-1560 {
      content: none;
    }
  }

  &-block {
    margin-top: 100px;
    @include desktop-block-1400 {
      margin-top: 48px;
    }
    @include phone-1023 {
      margin-top: 40px;
    }

    .h1 {
      @include desktop-block-1400 {
        padding-left: 32px;
      }
    }

    &-img {
      display: flex;
      justify-content: flex-end;
      margin-top: 56px;
      @include desktop-block-1400 {
        margin-top: 21px;
      }

      img {
        width: 180px;
      }
    }
  }
}

.search-category {
  margin-bottom: 24px;
  @include phone-1023 {
    margin-bottom: 20px;
  }

  .site-width {
    @include phone-1023 {
      padding: 0;
    }

    .row {
      @include phone-1023 {
        margin: 0;
      }
      .col {
        @include phone-1023 {
          padding: 0;
        }
      }
    }
  }

  &-block-wrap {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background-image: url(../images/icon/custom-back-5.svg);
      width: 152px;
      height: 203px;
      right: -72px;
      top: 48px;
      z-index: -1;
      @include desktop-block-1560 {
        content: none;
      }
    }
  }

  &-block {
    box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;
    background-color: $back-white;
    @include phone-1023 {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 24px;
    }

    &-search {
      max-width: 576px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      @include desktop-block-1400 {
        max-width: 547px;
      }
      @include phone-1023 {
        max-width: 100%;
        margin-bottom: 8px;

      }

      input {
        width: 100%;
        max-width: 457px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include desktop-block-1400 {
          max-width: 443px;
        }
        @include phone-1023 {
          max-width: calc(100% - 56px);
        }

      }

      button {
        max-width: 223px;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: left;
        padding-left: 60px;
        @include desktop-block-1400 {
          max-width: 119px;
          padding-left: 19px;
        }
        @include phone-1023 {
          height: 51px;
          width: 56px;

        }

        &:after {
          position: absolute;
          content: '';
          background-image: url(../images/icon/arrow.svg);
          width: 26px;
          height: 16px;
          top: calc(50% - 8px);
          margin-left: 32px;
          @include desktop-block-1400 {
            margin-left: 16px;
          }
          @include phone-1023 {
            margin-left: -5px;
          }
        }

        span {
          @include phone-1023 {
            display: none;

          }
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &-category {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
      padding-top: 5px;

      li {
        background-color: $back-category;
        border: 2px solid $back-category;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 17px;
        padding-bottom: 18px;
        border-radius: 6px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        @include desktop-block-1400 {
          padding-top: 7px;
          padding-bottom: 8px;
        }

        a {
          color: $color-text;
          font-weight: 300;
          font-size: 18px;
          line-height: 25px;

          &:hover {
            text-decoration: underline;
          }

        }
      }

      .active {
        background-color: $back-category-active;

        a {
          color: $color-white;
          font-weight: 500;
        }
      }
    }
  }
}

.select2 {
  width: 100%;
  display: none !important;
  @include phone-1023 {
    display: block !important;
  }
}

.select2-container--default .select2-selection--single {
  background-color: #6D64E2 !important;
  border: 2px solid #6D64E2 !important;
  border-radius: 6px !important;
  height: 51px !important;


}

.select2-selection__rendered {
  font-size: 18px;
  line-height: 25px !important;
  font-weight: 500;
  color: $color-white !important;
  display: flex !important;
  height: 100%;
  margin-left: 10px;
  align-items: center;
}

.select2-selection__arrow b {
  background-image: url(../images/icon/select-arrow.svg);
  width: 18px !important;
  height: 11px !important;
  border: none !important;
  margin-top: 7px !important;
  margin-left: -25px !important;
}

.select2-container--open .select2-selection__arrow b {
  background: none;
}

.select2-dropdown {

  border: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.select2-results {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
  background: rgba(109, 100, 226, 0.05);
}

.select2-results__option {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  background: none !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  color: $color-text !important;

  padding-left: 15px !important;
  padding-right: 15px !important;


  &:hover {
    text-decoration: underline;
  }
}

.select2-results__option--highlighted {
  text-decoration: underline;
}

.posts-list {
  padding-top: 14px;
  position: relative;
  margin-bottom: 20px;

  &-ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @include desktop-block-1400 {
      margin-left: -8px;
      margin-right: -8px;
    }

    &:before {
      position: absolute;
      content: "";
      background-image: url(../images/icon/custom-back-6.svg);
      width: 186px;
      height: 186px;
      left: 164px;
      top: 388px;
      z-index: -1;
      @include desktop-block-1560 {
        content: none;
      }
    }

    &:after {
      position: absolute;
      content: "";
      background-image: url(../images/icon/custom-back-7.svg);
      width: 186px;
      height: 186px;
      right: 196px;
      bottom: 475px;
      z-index: -1;
      @include desktop-block-1560 {
        content: none;
      }
    }

    li {
      margin-left: 10px;
      margin-right: 10px;
      flex-basis: calc(25% - 20px);
      background: $back-white;
      box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
      border-radius: 8px;
      margin-top: 10px;
      margin-bottom: 10px;
      @include desktop-block-1400 {
        margin-left: 8px;
        margin-right: 8px;
        flex-basis: calc(33.3333333333% - 16px);
      }
      @include phone-1023 {
        flex-basis: 100%;
      }

      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        @include phone-1023 {
          width: 100%;
        }
      }

      .post-list-ul-content {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 16px;
        padding-top: 16.26px;
        padding-bottom: 16px;
        padding-right: 16px;

        &-categories {
          display: flex;
          flex-wrap: wrap;
          margin-left: -2px;
          margin-right: -2px;
          margin-bottom: 5px;

          a {
            font-weight: 300;
            font-size: 16px;
            line-height: 22.4px;
            border-radius: 6px;
            background-color: $back-category-post;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 6.01px;
            padding-bottom: 6.77px;
            margin-left: 2px;
            margin-right: 2px;
            @include phone-1023 {
              font-size: 12px;
              line-height: 17.4px;
            }

            &:hover {
              span {
                text-decoration: underline;
              }
            }
          }
        }

        &-title {
          font-size: 24px;
          line-height: 34px;
          font-weight: 600;
          margin-bottom: 8px;
          display: block;
          @include phone-1023 {
            font-size: 20px;
            line-height: 28px;
          }

          &:hover {
            text-decoration: underline;
          }

        }

        p {
          opacity: 0.8;
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          padding-bottom: 40px;
          @include phone-1023 {
            padding-bottom: 16px;
          }
        }

        &-read-date {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-read {
            position: relative;
            color: $color-read-more;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            @include phone-1023 {
              font-size: 14px;
              line-height: 20px;
            }

            &:after {
              position: absolute;
              content: '';
              background-image: url(../images/icon/arrow-2.svg);
              width: 17px;
              height: 12px;
              top: 9px;
              right: -26px;
              transition: 0.3s;

            }

            &:hover {
              &::after {
                right: -32px;
              }
            }
          }

          span {
            font-size: 14px;
            line-height: 20px;
            opacity: 0.8;
            @include phone-1023 {
              font-size: 12px;
              line-height: 17px;
            }
          }
        }
      }

    }

    .downloadable {
      background-color: $back-downloadable;
      color: $color-white;

      .post-list-ul-content {
        &-categories {

          a {
            background-color: $back-category-post-download;
          }
        }

        &-read-date {
          .button {
            width: 190px;
            height: 38px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include phone-1023 {
              width: 166px;
              height: 33px;
            }

            &:after {
              background-image: url(../images/icon/download.svg);
              width: 16px;
              height: 18px;
              top: 8px;
              right: 22px;
              content: '';
              position: absolute;
            }

            b {
              font-weight: normal;
              position: relative;
              left: -10px;
              @include phone-1023 {
                font-size: 14px;
              }
            }

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

  }
}

.breadcrumbs {
  margin-top: 15px;
  margin-bottom: 50px;
  @include desktop-block-1400 {
    margin-bottom: 42px;
  }

  &-block {
    display: flex;
    justify-content: center;
    margin-left: -4px;
    margin-right: -4px;

    li {
      background-color: $back-breadcrumbs;
      margin-left: 4px;
      margin-right: 4px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 6px;
      @include phone-1023 {
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 3px;
        margin-right: 3px;
      }

      a {
        font-size: 18px;
        line-height: 25px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-active {
      background-color: $back-breadcrumbs-active !important;

      a {
        font-weight: 500;
        color: $color-white;
      }
    }

    &-prev {
      background: none !important;
      margin-right: 14px !important;
      @include phone-1023 {

        padding: 0 !important;
      }

      a {
        &:hover {
          text-decoration: none !important;
        }
        img {
          @include phone-1023 {
            width: 9px;
            height: 18px;
            position: relative;
            top: 3px;
          }
        }
      }
    }

    &-next {
      background: none !important;
      margin-left: 14px !important;
      @include phone-1023 {
        padding: 0 !important;
      }

      a {
        &:hover {
          text-decoration: none !important;
        }
        img {
          @include phone-1023 {
            width: 9px;
            height: 18px;
            position: relative;
            top: 3px;
          }
        }
      }
    }

    &-doted {
      background: none !important;
    }
  }
}

.featured {
  padding-top: 50px;
  padding-bottom: 50px;
  @include desktop-block-1400 {
    padding-top: 42px;
    padding-bottom: 24px;
  }
  @include phone-1023 {
    padding-bottom: 0;
  }

  &-block {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    @include desktop-block-1400 {
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 15px;
      padding-bottom: 33px;
    }
    @include phone-1023 {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 19px;
      padding-bottom: 0;
    }


    li {
      margin-left: 10px;
      margin-right: 10px;
      flex-basis: calc(16.6666666667% - 20px);
      @include desktop-block-1400 {
        margin-left: 8px;
        margin-right: 8px;
        flex-basis: calc(16.6666666667% - 16px);
      }
      @include phone-1023 {
        margin-left: 5px;
        margin-right: 5px;
        flex-basis: calc(50% - 10px);
        margin-bottom: 16px;
      }


      img {
        @include phone-1023 {
          width: 100%;
        }

      }


    }

    &-title {
      display: block;
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
      @include desktop-block-1400 {
        font-size: 12px;
        line-height: 17px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      @include phone-1023 {
        margin-top: 4px;
        margin-bottom: 4px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &-reading {
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: $color-read-more;
      @include desktop-block-1400 {
        font-size: 12px;
        line-height: 17px;
      }

      &:after {
        position: absolute;
        content: '';
        background-image: url(../images/icon/arrow-3.svg);
        width: 21px;
        height: 12px;
        top: 9px;
        right: -26px;
        transition: 0.3s;
        @include desktop-block-1400 {
          width: 16px;
          height: 8px;
          background-size: cover;
          top: 5px;
        }
      }

      &:hover {
        &::after {
          right: -32px;
        }
      }


    }
  }
}

.subscribe {
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
  @include desktop-block-1400 {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  @include phone-1023 {
    padding-top: 14px;
  }
  .site-width {
    @include phone-1023 {
      padding: 0;
    }

    .row {
      @include phone-1023 {
        margin: 0;
      }
      .col {
        @include phone-1023 {
          padding: 0;
        }
      }
    }
  }
  &-block {
    max-width: 954px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
    border-radius: 8px;
    padding: 40px;
    background-color: $back-white;
    z-index: 1;
    position: relative;
    @include phone-1023 {
      max-width: 100%;
      padding: 20px;
    }
 .h3 {
   @include phone-1023 {
     text-align: center;
   }
 }
    &-form {
      margin-top: 10px;
      display: flex;
      @include desktop-block-1400 {
        margin-top: 4px;
      }
      @include phone-1023 {
        display: block;
      }

      button {
        width: 205px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: left;
        padding-left: 50px;
        @include phone-1023 {
          width: 204px;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;

          margin-left: auto;
          margin-right: auto;
          display: block;
          height: 40px;
          margin-top: 16px;
        }

        &:after {
          position: absolute;
          content: '';
          background-image: url(../images/icon/arrow-4.svg);
          width: 31px;
          height: 16px;
          top: calc(50% - 8px);
          margin-left: 23px;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      input {
        width: calc(100% - 205px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 18px;
        @include desktop-block-1400 {
          font-size: 16px;
        }
        @include phone-1023 {
          width: 100%;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          font-size: 14px;
          height: 40px;
        }
      }
    }
  }

  &-block-wrap {
    position: relative;
    max-width: 954px;
    margin: 0 auto;
    @include phone-1023 {
      max-width: 100%;
    }
    &:after {
      position: absolute;
      content: "";
      background-image: url(../images/icon/custom-back-10.svg);
      width: 167px;
      height: 25px;
      right: -81px;
      top: -11px;
      @include desktop-block-1560 {
        content: none;
      }
    }
  }

  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/icon/custom-back-8.svg);
    width: 138px;
    height: 370px;
    left: -45px;
    top: -11px;
    @include desktop-block-1560 {
      content: none;
    }
  }
}