section.featured
    .site-width
        .row
            .col
                .h2
                    | Featured articles
                ul.featured-block
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading
                    li
                        a(href="#")
                            +img('content/featured.jpg', 'content/featured.jpg')
                        a.featured-block-title(href="#")
                            | How much does it cost to build a mobile app
                        a.featured-block-reading(href="#")
                            | Reading