footer.footer#footer
    .footer-top
        .site-width
            .row
                .col.footer-top-col-1
                    .footer-top-logo-soc
                        .footer-top-logo-soc-logo
                            +img('logo-footer.svg')
                        ul.footer-top-logo-soc-soc
                            li
                                a(href="#")
                                    +img('icon/linkedin.svg')
                            li
                                a(href="#")
                                    +img('icon/facebook.svg')
                            li
                                a(href="#")
                                    +img('icon/twitter.svg')
                .col.footer-top-col-2
                    ul.footer-top-menu
                        li.footer-top-menu-active
                            a(href="#")
                                | Blog
                        li
                            a(href="#")
                                | Cases
                        li
                            a(href="#")
                                | Calculator
                .col.footer-top-col-3
                    .footer-top-address
                        | FlyMining Sàrl, CHE-406.118.174 1003 Lausanne, c/o Drys Fiduciaire SA Rue Mercerie 12
                .col.footer-top-col-4
                    .footer-top-phones
                        .footer-top-phones-item
                            a(href="tel:+13235224831")
                                | +1 323 522 48 31
                            span
                                | New York
                        .footer-top-phones-item
                            a(href="tel:+41799069877")
                                | +41 79 906 98 77
                            span
                                | Lausanne
    .footer-bottom
        .site-width
            .row
                .col
                    .footer-bottom-block
                        .footer-bottom-block-left
                            | © 2018-2020 Copyright, All Rights Reserved by FlyMining Sàrl
                        ul.footer-bottom-block-right
                            li
                                a(href="#")
                                    | Terms and Conditions
                            li
                                a(href="#")
                                    | Privacy Policy
.header-block-menu-activ-bg









