header.header
    .header-top
        .site-width
            .row
                .col.col-logo
                    .block-logo
                        a.block-logo-link(href='/')
                            +img('logo.png')
                .col.col-right
