header.header
    .header-block
        .site-width
            .row
                .col.col-logo
                    .block-logo
                        a.block-logo-link(href='/')
                            +img('logo.svg')
                .col.col-right
                    +svg('icon/gamburger.svg', 'phone-show hamburger-icon')
                    +svg('icon/close.svg', 'phone-show hamburger-icon-close')
                    ul.header-block-menu
                        li.active
                            a(href="#")
                                | Blog
                        li
                            a(href="#")
                                | Cases
                        li
                            a(href="#")
                                | Calculator
