.content-index
    section.index-header
        .site-width
            .row
                .col
                    .index-header-block
                        h1.h1
                            | Blog
                .col
                    .index-header-block-img
                        +img('content/header-img.svg')
    section.search-category
        .site-width
            .row
                .col
                    .search-category-block-wrap
                        .search-category-block
                            form.search-category-block-search
                                input(type=text)(name='s')(id='s')(placeholder='Search the blog...')
                                button(type="submit")
                                    span
                                        | Find
                            ul.search-category-block-category.phone-hide-flex-imp
                                li.active
                                    a(href="#")
                                        | All
                                li
                                    a(href="#")
                                        | Education

                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | IOS
                                li
                                    a(href="#")
                                        | Android
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | IOS
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | Android
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | IOS
                                li
                                    a(href="#")
                                        | Android
                                li
                                    a(href="#")
                                        | IOS
                                li
                                    a(href="#")
                                        | Android
                                li
                                    a(href="#")
                                        | IOS
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | Android
                                li
                                    a(href="#")
                                        | Education
                                li
                                    a(href="#")
                                        | Education
                            select.select2.phone-show
                                option(value="#")
                                    | All
                                option(value="#")
                                    | Education
                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


                                option(value="#")
                                    | Android


    section.posts-list
        .site-width
            .row
                .col
                    ul.posts-list-ul
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li.downloadable
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.button(href="#")
                                         b
                                            | Download
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li.downloadable
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.button(href="#")
                                        b
                                            | Download
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
                        li.downloadable
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.button(href="#")
                                        b
                                            | Download
                                    span
                                        | 10/02/2020
                        li
                            a(href="#")
                                +img('content/post-list.jpg','content/post-list.jpg','posts-list-ul-img')
                            .post-list-ul-content
                                .post-list-ul-content-categories
                                    a(href="#")
                                        span
                                            | Development
                                    a(href="#")
                                        span
                                            | App
                                    a(href="#")
                                        span
                                            | Mobile
                                a.post-list-ul-content-title(href="#")
                                    | How much does it cost to build a mobile app
                                p
                                    | Introduction Answering the question “how much does it cost to build an app?” is pretty much like...
                                .post-list-ul-content-read-date
                                    a.post-list-ul-content-read-date-read(href="#")
                                        | Continue reading
                                    span
                                        | 10/02/2020
    section.breadcrumbs
        .site-width
            .row
                .col
                    ul.breadcrumbs-block
                        li.breadcrumbs-block-prev
                            a(href="#")
                                +img('icon/prev.svg')
                        li.breadcrumbs-block-active
                            a(href="#")
                                | 1
                        li
                            a(href="#")
                                | 2
                        li
                            a(href="#")
                                | 3
                        li
                            a(href="#")
                                | 4
                        li.breadcrumbs-block-doted
                            | ...
                        li
                            a(href="#")
                                | 4
                        li.breadcrumbs-block-next
                            a(href="#")
                                +img('icon/next.svg')
    section.featured
        .site-width
            .row
                .col
                    .h2
                        | Featured articles
                    ul.featured-block
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
                        li
                            a(href="#")
                                +img('content/featured.jpg', 'content/featured.jpg')
                            a.featured-block-title(href="#")
                                | How much does it cost to build a mobile app
                            a.featured-block-reading(href="#")
                                | Reading
    section.subscribe
        .site-width
            .row
                .col
                    .subscribe-block-wrap
                        .subscribe-block
                            .h3
                                | Subscribe to our newsletter
                            form.subscribe-block-form
                                input(type='text')(placeholder='Insert your email here')
                                button(type="submit")
                                    | Send





