aside.sidebar#sidebar
    .sidebar-sticky.phone-hide
        .row
            .col
                .ez-toc
                    .widget-content
                        .ez-toc-widget-container
                            h2
                                | Table of content
                            nav
                                ul
                                    li.active
                                        a(href="#")
                                            | Introduction
                                    li
                                        a(href="#")
                                            | The mobile app market is evolving
                                    li
                                        a(href="#")
                                            | Examples of pricing
                                    li
                                        a(href="#")
                                            | Types of apps
                                    li
                                        a(href="#")
                                            | Platforms
                                    li
                                        a(href="#")
                                            | Hybrid vs native
                                    li
                                        a(href="#")
                                            | Can the same app be built for different prices?
                                    //li
                                    //    a(href="#")
                                    //        | Freelancers vs Development Agencies
                                    //li
                                    //    a(href="#")
                                    //        | Structure of the development team
                                    //li
                                    //    a(href="#")
                                    //        | Who should create the app’s architecture?
                                    //li
                                    //    a(href="#")
                                    //        | Features and their cost
        .sidebar-consultation
            .sidebar-consultation-name
                | Dmitry Elisov
            .sidebar-consultation-desc
                | CTO of Oqtacore
            .sidebar-consultation-text
                | “Discuss your business and tech needs”
            a.sidebar-consultation-link(href="#")(target="_blank")
                | Book a consultation now
        .sidebar-signup
            .sidebar-signup-title
                | Signup
            .sidebar-signup-text
                | for biweekly insights
            form.sidebar-signup-form
                input(type='text')(placeholder='Insert your email here')
                button(type="submit")
                    | Send




