aside.sidebar#sidebar
    .sidebar-sticky
        .download
            .h2
                | Download this ebook in PDF format
            p
                | Please fill the form below to get a download link in your inbox.
            form
                input(type="text")(placeholder="Insert your name here ")
                input(type="email")(placeholder="Insert your email here ")
                .checkbox-wrap
                    input(type="checkbox")(id="checkbox")(checked="checked")
                    label(for="checkbox")
                        | By requesting the report or app specifications, you are agreeing to Appdevelopmentcost.com’s <a href="#" target="_blank">Privacy Policy</a> and <a href="#" target="_blank">Cookie policy</a>.
                    button(type="submit")
                        | Download this Ebok
