.content-index
    include social-fixed
    .row.phone-show
        .col
            .ez-toc
                .widget-content
                    .ez-toc-widget-container
                        h2
                            | Table of content
                        nav
                            ul
                                li.active
                                    a(href="#")
                                        | Introduction
                                li
                                    a(href="#")
                                        | The mobile app market is evolving
                                li
                                    a(href="#")
                                        | Examples of pricing
                                li
                                    a(href="#")
                                        | Types of apps
                                li
                                    a(href="#")
                                        | Platforms
                                li
                                    a(href="#")
                                        | Hybrid vs native
                                li
                                    a(href="#")
                                        | Can the same app be built for different prices?
                                //li
                                //    a(href="#")
                                //        | Freelancers vs Development Agencies
                                //li
                                //    a(href="#")
                                //        | Structure of the development team
                                //li
                                //    a(href="#")
                                //        | Who should create the app’s architecture?
                                //li
                                //    a(href="#")
                                //        | Features and their cost
    section.single-content
        .single-content-img
            +img('content/foto.jpg', 'content/foto.jpg')
        h2
            | Introduction
        p(style="font-size:20px;line-height:28px")
            | Answering the question “how much does it cost to build an app?” is pretty much like the question “How much does a new car cost?” from a person who has never considered buying a car before.
        p(style="font-size:20px;line-height:28px")
            | While there are the lower and upper boundaries (the cheapest car in the US market is Chevrolet Spark with a base price of $14,095, and the most expensive is Bugatti La Voiture Noire for $12.5 million before tax), but such answer probably wouldn’t satisfy the person who asks. They need the price for the car they want and can afford, but that will require this person to do a market research in brands, body types, features, autopilots, safety assistants, passive security, etc.
        p(style="font-size:20px;line-height:28px")
            | Just as with buying a car you have to start with a budget, options, quality, maintenance costs; with app development you have to consider a lot of various factors. There is no way of getting a good deal without knowing the market.
        p(style="font-size:20px;line-height:28px")
            | If you are researching the app market to figure out the best price for you, then this article should be of great help.
        h2
            | The mobile app market is evolving
        p
            | The market for mobile applications is growing rapidly despite its already incredible growth in the last decade.
        p
            | More and more people get smartphones as generations change. Young kids become older and need new apps built for 2020, not for 2010. And it’s no surprise that many people come up with their ideas of building mobile apps and researching the price of doing this.
        p

            | Businesses become more tech-savvy. If 10 years ago only the largest companies had their mobile apps, now even an opening business needs to have a website and even a mobile app, be it for its employees or its customers.
        p

            | It’s worth saying that mobile app development also has changed dramatically in the last 10 years. Apps now have easily recognizable design guidelines, and developers can easily understand what users expect to see on their smartphone screens.
        h2
            | Examples of pricing
        p
            | It makes sense to research what other mobile apps cost and which factors added up to the final price.
        p

            | We consider two versions of the app. A minimum viable product (MVP) is a version of the app that has only the most necessary functionality. Imagine an Instagram app without stories, user tagging, spam filters… Just an image sharing app with filters. It was like this in the beginning, and this MVP was enough to gain traction.
        h3
            | Examples of pricing
        h4
            | EXAMPLE 1. Uber
        p
            | Making a copy of an Uber-like app could cost up to $200,000 and last about a year. The app does not have many screens for the user, but also requires a separate app for drivers, for the support team, and advanced billing.
        p
            | Team members:
        ul
            li
                | software engineers;
            li
                | UI/UX designers;
            li
                | project manager;
            li
                | product manager.
        .consultation
            .h2
                | Want to get information about software outsourcing from the experts?
            p
                | Contact our team for a free consultation and a detailed explanation of the software development process in the outsourcing model.
            a.button(href="#")(target="_blank")
                | Receive your consultation now
        .recommended
            .h2
                | Looking for a software outsourcing company?
            p
                | Check our guide <a href="#" target="_blank">Vendor Selection Criteria [It’s Not Only the Cost & Rates That Matter]</a> explaining the main criteria for choosing the best technical partner. Learn why price is not the number 1 factor and which are the main criteria today.
        span.custom-back
        .responsive-table
            table
                tr
                    th
                        | Type of software
                    th
                        | Product Vision
                    th
                        | UX expertise
                    th
                        | Beautiful UI
                    th
                        | Security protection from internal and external threats
                    th
                        | Extensive testing
                tr
                    td.b
                        b
                            | Enterprise
                    td
                        | You should have the clear vision even before the start
                    td
                        | Must-have from the start
                    td
                        | Not necessary
                    td
                        | Must-have
                    td
                        | Must-have
                tr
                    td.b
                        b
                            | Infotainment
                    td
                        | You can pivot and measure metrics on-the-go
                    td
                        | Must-have from the start
                    td
                        | Must-have
                    td
                        | Not necessary
                    td
                        | Not necessary
                tr
                    td.b
                        b
                            | Utility/ productivity
                    td
                        | You can pivot and measure metrics on-the-go
                    td
                        | You can pivot and measure metrics on-the-go
                    td
                        | Not necessary
                    td
                        | Not necessary
                    td
                        | Not necessary
    section.faq
        .h2
            | Frequently Asked Questions:
        .faq-item
            .faq-item-title
                span
                    | What are the benefits of outsourcing software development?
                b
            .faq-item-content
                p
                    | The main outsourcing disadvantages are potential financial losses and security breaches. It is possible to eliminate these risks if you stay away from choosing a team based only on the lowest rates and estimates. Other mistakes to avoid making are overrating expertise, sharing access to sensitive data, and lying all the responsibility on a software outsourcing contractor.
        .faq-item
            .faq-item-title
                span
                    | What mistakes should I avoid during software development outsourcing?
                b
            .faq-item-content
                p
                    | The main outsourcing disadvantages are potential financial losses and security breaches. It is possible to eliminate these risks if you stay away from choosing a team based only on the lowest rates and estimates. Other mistakes to avoid making are overrating expertise, sharing access to sensitive data, and lying all the responsibility on a software outsourcing contractor.
        .faq-item
            .faq-item-title
                span
                    | What are the benefits of outsourcing software development?
                b
            .faq-item-content
                p
                    | The main outsourcing disadvantages are potential financial losses and security breaches. It is possible to eliminate these risks if you stay away from choosing a team based only on the lowest rates and estimates. Other mistakes to avoid making are overrating expertise, sharing access to sensitive data, and lying all the responsibility on a software outsourcing contractor.
    .sidebar-consultation.phone-show
        .sidebar-consultation-name
            | Dmitry Elisov
        .sidebar-consultation-desc
            | CTO of Oqtacore
        .sidebar-consultation-text
            | “Discuss your business and tech needs”
        a.sidebar-consultation-link(href="#")(target="_blank")
            | Book a consultation now
    .sidebar-signup.phone-show
        .sidebar-signup-title
            | Signup
        .sidebar-signup-text
            | for biweekly insights
        form.sidebar-signup-form
            input(type='text')(placeholder='Insert your email here')
            button(type="submit")
                | Send
    section.rating
        .h2
            | Rate this article
        +svg('icon/stars.svg')
