.content-index
    include social-fixed
    section.single-content
        .single-content-img
            +img('content/foto.jpg', 'content/foto.jpg')
        h2
            | Introduction
        p(style="font-size:20px;line-height:28px")
            | Answering the question “how much does it cost to build an app?” is pretty much like the question “How much does a new car cost?” from a person who has never considered buying a car before.
        p(style="font-size:20px;line-height:28px")
            | While there are the lower and upper boundaries (the cheapest car in the US market is Chevrolet Spark with a base price of $14,095, and the most expensive is Bugatti La Voiture Noire for $12.5 million before tax), but such answer probably wouldn’t satisfy the person who asks. They need the price for the car they want and can afford, but that will require this person to do a market research in brands, body types, features, autopilots, safety assistants, passive security, etc.
        p(style="font-size:20px;line-height:28px")
            | Just as with buying a car you have to start with a budget, options, quality, maintenance costs; with app development you have to consider a lot of various factors. There is no way of getting a good deal without knowing the market.
        p(style="font-size:20px;line-height:28px")
            | If you are researching the app market to figure out the best price for you, then this article should be of great help.
