section.social-fixed.phone-hide
    ul.footer-top-logo-soc-soc
        li
            a(href="#")
                +img('icon/linkedin.svg')
        li
            a(href="#")
                +img('icon/facebook.svg')
        li
            a(href="#")
                +img('icon/twitter.svg')
        li
            a.to-top(href="")
                +img('icon/top.svg')