section.title
    .title-block-top
        .site-width
            .row
                .col
                    h1.h1
                        | How much does it cost to build a mobile app
    .title-block-bottom
        .site-width
            .row
                .col
                    .title-block-bottom-wrap
                        .title-block-bottom-author
                            .title-block-bottom-author-img
                                +img('content/author.jpg')
                            .title-block-bottom-author-name-desc
                                .title-block-bottom-author-name-desc-name
                                    | by Dmitry Elisov
                                .title-block-bottom-author-name-desc-desc
                                    | CTO of Oqtacore
                                    a(href="#")(target="_blank")
                                        +svg('icon/linkedin.svg')
                        .title-block-bottom-view-read
                            .title-block-bottom-view-read-view
                                +svg('icon/view.svg')
                                span
                                    | 254
                            .title-block-bottom-view-read-read
                                +svg('icon/read.svg')
                                span
                                    | 6 min read
