extends template/main

block variables
  - var title = 'Oqtracore - blog'
  - var pageClass = 'page-home'
  - var description = ''
block head
  link(rel="stylesheet" type='text/css' href='assets/css/style.css?ver=' + hash)

block content
  .page-home#page-home
    include components/header
    .content-wrap
      include components/index
    include components/footer
block script

