mixin icon(width, height, name)
		svg(width="" + width + "" height="" + height + "" class="svg-sprite-icon icon-" + name)
			use(xlink:href="assets/images/sprite.svg#" + name)
mixin img(src, classadd)
	if(classadd)
		img(class="img " + classadd + "" src="assets/images/" + src +""  alt="")
	else
		img(class="img" src="assets/images/" + src +""  alt="")
