@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap);html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* custom-reset.css | 20.08.2018 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

.site-width {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1440px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8.5px;
  margin-left: -8.5px;
}

.col {
  padding-right: 8.5px;
  padding-left: 8.5px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.phone-show {
  display: none;
}

@media screen and (max-width: 991px) {
  .phone-show {
    display: block;
  }
}

.phone-hide {
  display: block;
}

@media screen and (max-width: 991px) {
  .phone-hide {
    display: none;
  }
}

.phone-show-imp {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .phone-show-imp {
    display: block !important;
  }
}

.phone-hide-imp {
  display: block !important;
}

@media screen and (max-width: 991px) {
  .phone-hide-imp {
    display: none !important;
  }
}

.phone-show-flex {
  display: none;
}

@media screen and (max-width: 991px) {
  .phone-show-flex {
    display: flex;
  }
}

.phone-hide-flex {
  display: flex;
}

@media screen and (max-width: 991px) {
  .phone-hide-flex {
    display: none;
  }
}

.phone-show-flex-imp {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .phone-show-flex-imp {
    display: flex !important;
  }
}

.phone-hide-flex-imp {
  display: flex !important;
}

@media screen and (max-width: 991px) {
  .phone-hide-flex-imp {
    display: none !important;
  }
}

*, :after, :before {
  box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  min-width: 320px;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 20px;
  color: #070546;
}

.active-form {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s linear;
}

.col-center {
  display: flex;
  justify-content: center;
}

.col-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 84px;
}

.h2 {
  font-size: 32px;
  line-height: 45px;
  padding-bottom: 5px;
}

.h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  padding-bottom: 10px;
}

.row-content {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

@media screen and (max-width: 991px) {
  .row-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.col-content {
  max-width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media screen and (max-width: 991px) {
  .col-content {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.col-sidebar {
  max-width: 335px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media screen and (max-width: 991px) {
  .col-sidebar {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}

.text-center {
  text-align: center;
}

.hide {
  overflow: hidden;
  opacity: 0;
}

button, .button {
  background-color: #00B496;
  position: relative;
  height: 67px;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  border: 2px solid #00B496;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
}

input {
  border: 1px solid rgba(2, 56, 119, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  height: 67px;
  color: #070546;
  font-size: 17px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

input::-moz-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5;
}

.header {
  height: 85px;
  width: 100%;
  background-color: #070546;
  position: relative;
}

.header:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-2.svg);
  width: 111px;
  height: 85px;
  right: 15px;
  top: 0;
  opacity: 0.15;
}

.header .col-logo {
  height: 85px;
  display: flex;
  align-items: center;
}

.header .col-logo .block-logo {
  position: relative;
}

.header .col-logo .block-logo::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-1.svg);
  width: 69px;
  height: 67px;
  left: -120px;
}

.header .header-block-menu {
  display: flex;
  align-items: center;
}

.header .header-block-menu li {
  padding-left: 60px;
}

.header .header-block-menu li a {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}

.header .header-block-menu li a:hover {
  text-decoration: underline;
}

.header .header-block-menu .active a {
  font-weight: 600;
}

.index-header {
  position: relative;
}

.index-header:before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-3.svg);
  width: 124px;
  height: 175px;
  left: 0px;
  bottom: 0;
}

.index-header:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-4.svg);
  width: 149px;
  height: 25px;
  right: 0;
  top: 69px;
}

.index-header-block {
  margin-top: 100px;
}

.index-header-block-img {
  display: flex;
  justify-content: flex-end;
  margin-top: 56px;
}

.search-category {
  margin-bottom: 24px;
}

.search-category-block-wrap {
  position: relative;
}

.search-category-block-wrap:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-5.svg);
  width: 152px;
  height: 203px;
  right: -72px;
  top: 48px;
  z-index: -1;
}

.search-category-block {
  box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.search-category-block-search {
  max-width: 576px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-category-block-search input {
  width: 100%;
  max-width: 457px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-category-block-search button {
  max-width: 223px;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
  padding-left: 60px;
}

.search-category-block-search button:after {
  position: absolute;
  content: '';
  background-image: url(../images/icon/arrow.svg);
  width: 26px;
  height: 16px;
  top: calc(50% - 8px);
  margin-left: 32px;
}

.search-category-block-search button:hover {
  opacity: 0.8;
}

.search-category-block-category {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 5px;
}

.search-category-block-category li {
  background-color: #F7F7FD;
  border: 2px solid #F7F7FD;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 18px;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.search-category-block-category li a {
  color: #070546;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.search-category-block-category li a:hover {
  text-decoration: underline;
}

.search-category-block-category .active {
  background-color: #6D64E2;
}

.search-category-block-category .active a {
  color: #ffffff;
  font-weight: 500;
}

.posts-list {
  padding-top: 14px;
  position: relative;
  margin-bottom: 20px;
}

.posts-list-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.posts-list-ul:before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-6.svg);
  width: 186px;
  height: 186px;
  left: 164px;
  top: 388px;
  z-index: -1;
}

.posts-list-ul:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-7.svg);
  width: 186px;
  height: 186px;
  right: 196px;
  bottom: 475px;
  z-index: -1;
}

.posts-list-ul li {
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: calc(25% - 20px);
  background: #fff;
  box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.posts-list-ul li img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.posts-list-ul li .post-list-ul-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 16px;
  padding-top: 16.26px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.posts-list-ul li .post-list-ul-content-categories {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 5px;
}

.posts-list-ul li .post-list-ul-content-categories a {
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 6px;
  background-color: rgba(109, 100, 226, 0.05);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6.01px;
  padding-bottom: 6.77px;
  margin-left: 2px;
  margin-right: 2px;
}

.posts-list-ul li .post-list-ul-content-categories a:hover span {
  text-decoration: underline;
}

.posts-list-ul li .post-list-ul-content-title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.posts-list-ul li .post-list-ul-content-title:hover {
  text-decoration: underline;
}

.posts-list-ul li .post-list-ul-content p {
  opacity: 0.8;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 40px;
}

.posts-list-ul li .post-list-ul-content-read-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-list-ul li .post-list-ul-content-read-date-read {
  position: relative;
  color: #00B496;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.posts-list-ul li .post-list-ul-content-read-date-read:after {
  position: absolute;
  content: '';
  background-image: url(../images/icon/arrow-2.svg);
  width: 17px;
  height: 12px;
  top: 9px;
  right: -26px;
  transition: 0.3s;
}

.posts-list-ul li .post-list-ul-content-read-date-read:hover::after {
  right: -32px;
}

.posts-list-ul li .post-list-ul-content-read-date span {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}

.posts-list-ul .downloadable {
  background-color: #6D64E2;
  color: #ffffff;
}

.posts-list-ul .downloadable .post-list-ul-content-categories a {
  background-color: rgba(255, 255, 255, 0.05);
}

.posts-list-ul .downloadable .post-list-ul-content-read-date .button {
  width: 190px;
  height: 38px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.posts-list-ul .downloadable .post-list-ul-content-read-date .button:after {
  background-image: url(../images/icon/download.svg);
  width: 16px;
  height: 18px;
  top: 8px;
  right: 22px;
  content: '';
  position: absolute;
}

.posts-list-ul .downloadable .post-list-ul-content-read-date .button b {
  font-weight: normal;
  position: relative;
  left: -10px;
}

.posts-list-ul .downloadable .post-list-ul-content-read-date .button:hover {
  opacity: 0.8;
}

.breadcrumbs {
  margin-top: 15px;
  margin-bottom: 50px;
}

.breadcrumbs-block {
  display: flex;
  justify-content: center;
  margin-left: -4px;
  margin-right: -4px;
}

.breadcrumbs-block li {
  background-color: rgba(7, 5, 70, 0.05);
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 6px;
}

.breadcrumbs-block li a {
  font-size: 18px;
  line-height: 25px;
}

.breadcrumbs-block li a:hover {
  text-decoration: underline;
}

.breadcrumbs-block-active {
  background-color: #070546 !important;
}

.breadcrumbs-block-active a {
  font-weight: 500;
  color: #ffffff;
}

.breadcrumbs-block-prev {
  background: none !important;
  margin-right: 14px !important;
}

.breadcrumbs-block-prev a:hover {
  text-decoration: none !important;
}

.breadcrumbs-block-next {
  background: none !important;
  margin-left: 14px !important;
}

.breadcrumbs-block-next a:hover {
  text-decoration: none !important;
}

.breadcrumbs-block-doted {
  background: none !important;
}

.featured {
  padding-top: 50px;
  padding-bottom: 50px;
}

.featured-block {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.featured-block li {
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: calc(16.6666666667% - 10px);
}

.featured-block-title {
  display: block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured-block-title:hover {
  text-decoration: underline;
}

.featured-block-reading {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #00B496;
}

.featured-block-reading:after {
  position: absolute;
  content: '';
  background-image: url(../images/icon/arrow-3.svg);
  width: 21px;
  height: 12px;
  top: 9px;
  right: -26px;
  transition: 0.3s;
}

.featured-block-reading:hover::after {
  right: -32px;
}

.subscribe {
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}

.subscribe-block {
  max-width: 954px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 30px rgba(29, 56, 125, 0.18);
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.subscribe-block-form {
  margin-top: 10px;
  display: flex;
}

.subscribe-block-form button {
  width: 205px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
  padding-left: 50px;
}

.subscribe-block-form button:after {
  position: absolute;
  content: '';
  background-image: url(../images/icon/arrow-4.svg);
  width: 31px;
  height: 16px;
  top: calc(50% - 8px);
  margin-left: 23px;
}

.subscribe-block-form button:hover {
  opacity: 0.8;
}

.subscribe-block-form input {
  width: calc(100% - 205px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
}

.subscribe-block-wrap {
  position: relative;
  max-width: 954px;
  margin: 0 auto;
}

.subscribe-block-wrap:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-10.svg);
  width: 167px;
  height: 25px;
  right: -81px;
  top: -11px;
}

.subscribe:before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-8.svg);
  width: 138px;
  height: 370px;
  left: -45px;
  top: -11px;
}

.footer {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.footer-top {
  border-top: 1px solid #D7D9E4;
  padding-top: 44px;
  position: relative;
  background-color: #fff;
  padding-bottom: 24px;
}

.footer-top-col-1 {
  max-width: 22%;
}

.footer-top-col-2 {
  max-width: 20%;
}

.footer-top-col-3 {
  max-width: 23%;
}

.footer-top-col-4 {
  margin-left: 207px;
}

.footer-top-logo-soc-soc {
  display: flex;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 30px;
}

.footer-top-logo-soc-soc li {
  margin-left: 9px;
  margin-right: 9px;
}

.footer-top-menu li {
  display: block;
  margin-bottom: 3px;
}

.footer-top-menu li a {
  font-size: 18px;
  line-height: 25px;
}

.footer-top-menu li a:hover {
  text-decoration: underline;
}

.footer-top-menu-active a {
  font-weight: 600;
}

.footer-top-address {
  position: relative;
  font-size: 18px;
  line-height: 25px;
}

.footer-top-address:before {
  position: absolute;
  content: '';
  background-image: url(../images/icon/address.svg);
  width: 20px;
  height: 30px;
  left: -29px;
  top: 5px;
}

.footer-top-phones {
  position: relative;
}

.footer-top-phones:before {
  position: absolute;
  content: '';
  background-image: url(../images/icon/phone.svg);
  width: 29px;
  height: 29px;
  left: -39px;
  top: 3px;
}

.footer-top-phones-item {
  display: block;
  font-size: 18px;
  line-height: 36px;
}

.footer-top-phones-item a {
  font-weight: 500;
  padding-right: 5px;
}

.footer-top-phones-item a:hover {
  text-decoration: underline;
}

.footer:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon/custom-back-9.svg);
  width: 105px;
  height: 151px;
  right: -3px;
  top: -110px;
  z-index: -1;
}

.footer-bottom {
  border-top: 1px solid #D7D9E4;
  padding-top: 24px;
  padding-bottom: 29px;
  margin-top: 24px;
}

.footer-bottom-block {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-block-left {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.footer-bottom-block-right {
  display: flex;
  justify-content: flex-end;
}

.footer-bottom-block-right li {
  padding-left: 72px;
}

.footer-bottom-block-right li a {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.footer-bottom-block-right li a:hover {
  text-decoration: underline;
}
