
*, :after, :before {
  box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {

  min-width: 320px;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  font-family: $font;
  min-height: 100%;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 14px;
  color: $main-color;

}

.active-form {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s linear;
}

p {

}

.col-center {
  display: flex;
  justify-content: center;
}

.col-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: $font;
  line-height: 64px;
  letter-spacing: 0.02em;
  @include phone-991 {
    font-size: 24px;
    line-height: 29px;
  }
}

.h1.h1-page {
  font-size: 24px;

  font-family: $font-bold;
  line-height: 18px;

  @include phone-991 {
    font-size: 24px;

  }
}

.h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: $font-bold;
  line-height: 18px;
  @include phone-991 {

  }
}

.h3 {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
}

.row-content {
  margin-left: -7.5px;
  margin-right: -7.5px;
  @include phone-991 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.col-content {
  max-width: calc(100% - 335px);
  padding-left: 7.5px;
  padding-right: 7.5px;
  @include phone-991 {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}



.col-sidebar {
  max-width: 335px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  @include phone-991 {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}

.text-center {
  text-align: center;
}

.hide {

  overflow: hidden;
  opacity: 0;

}

.back_to_top {
position: fixed;
  background-image: url(../images/icon/top.png);
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 50px;
  display: none;
  cursor: pointer;
}
.back_to_top-show {
  display: block;
}

input {
  background-color: $back-input;
  border: none;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  @include phone-991 {

  }
  @include phone-374 {

  }
}