// Responsive breakpoints. "Include media" settings.

$desktop-block-1560: 1560px;
$desktop-block-1400: 1400px;

$phone-1023: 1023px;


@mixin desktop-block-1560 {
  @media screen and (max-width: $desktop-block-1560) {
    @content;
  }
}
@mixin desktop-block-1400 {
  @media screen and (max-width: $desktop-block-1400) {
    @content;
  }
}

@mixin phone-1023 {
  @media screen and (max-width: $phone-1023) {
    @content;
  }
}

