$font:'Montserrat',sans-serif;
$color-white: #ffffff;
$color-text: #070546;
$color-input: #070546;
$color-read-more: #00B496;
$back-header: #070546;
$back-button: #00B496;
$back-category: #F7F7FD;
$back-category-active: #6D64E2;
$back-category-post: rgba(109, 100, 226, 0.05);
$back-category-post-download: rgba(255, 255, 255, 0.05);
$back-white: #fff;
$back-downloadable: #6D64E2;
$back-breadcrumbs: rgba(7, 5, 70, 0.05);
$back-breadcrumbs-active: #070546;

