$font:'Open Sans',sans-serif;
$font-light:'Open Sans Light',sans-serif;
$font-bold:'Open Sans Bold',sans-serif;
$font-semibold:'Open Sans Semibold',sans-serif;
$font-extrabold: 'Open Sans Extrabold',sans-serif;
$font2:'Palatino Linotype',sans-serif;
$color-footer-rek: #51fff1;
$color-time: #838383;
$color-time-2: #b3b3b3;
$color-time-goroskop: #696969;
$main-color: #252525;
$color-title: #262626;
$white-color: #ffffff;
$color-button: #0b7eb5;
$color-menu: #242424;
$color-link: #1289c0;
$color-brand: #0c7eb6;
$color-zapis: #74bfe2;
$back-button: #daebf4;
$back-white: #ffffff;
$back-sidebar: #f7f7f7;
$back-input: #ffffff;
$back-header-top: linear-gradient(to bottom, rgba(19, 139, 194, 1) 1%, rgba(9, 122, 177, 1) 100%);
$back-header-bottom-1: #e2e2e2;
$back-header-bottom-2: #f0f0f0;
$back-time: #f0f0f0;
$back-last-news: #f3f9fc;
$back-last-med-title: #f0f0f0;
$back-last-med: #f3f9fc;
$back-sidebar-title: #1289c0;
$back-sidebar-title-2: #0b527c;
$back-zapis: #0d81b8;
$back-footer-top: #0c72a4;
$back-footer-bottom: #0d81b8;

